#stage {
    cursor: crosshair;
}

body{
    font-family: sans-serif;   
    background: url(pic1.jpg);
     background-size: cover;
     /* background: #34495e; */

}


#ui_login{
    width: 350px;
    height: 420px;
    background: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    color: white;
}

#ui_register{
    width: 350px;
    height: 620px;
    background: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    color: white;
}


#ui_login input, #ui_register input{
    width: 100%;
    margin-bottom: 20px;
}

#ui_login input[type="text"], input[type="password"],
#ui_register input[type="text"], input[type="password"],input[type="date"], #Game_diff
{
    color:coral;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 22px;
    border: 3px solid grey;
    width:290px;
    border-radius: 60px;
    transition: 0.5s;
    text-align: center;
}



#ui_login input[type = "text"]:focus,#ui_login input[type = "password"]:focus,
#ui_register input[type = "text"]:focus,#ui_register input[type = "password"]:focus, #ui_register input[type = "date"]:focus{
    border-color: #2ecc71;
}

#ui_login input[type="submit"],
#ui_register input[type="submit"]
{
    background: #fb2525;
    font-size: 20px;
    border-radius: 40px;
    outline: none;
    border: none;
    height: 45px;
    width:300px;
    font-family: sans-serif; 
}

#ui_login input[type="submit"]:hover,
#ui_register input[type="submit"]:hover
{
    cursor: pointer;
    background: orange;
    color: #000;
}